// Base – Default HTML tag styling
// Do not put CSS classes or IDs in here

header {
  overflow: hidden;
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  //font-family: $heading-text;
  font-weight: $normal;
  line-height: 1.1;
  margin: $scale1 0 $scale-base/4;
  padding: 0;

  a {
    font-weight: $normal;
  }
}

h1 {
  @include text-shadow(#000 2px 2px 5px);
  color: #fff;
  font-size: $scale4;
  margin: $scale5 0;

  @media #{$medium-up} {
    font-size: $scale5;
  }

  &.smaller {
    font-size: $scale3*.95;
  }
}

h2 {
  font-size: $scale2;
  margin: 0 0 $scale3 0;

  @media #{$large-up} {
    font-size: $scale3;
  }

  &.smaller {
    font-size: $scale2*.95;
  }
}

h3 {
  font-size: $scale1;

  @media #{$large-up} {
    font-size: $scale2;
  }

  &.smaller {
    font-size: $scale1*.95;
  }
}

h4 {
  font-size: $scale-base;

  @media #{$large-up} {
    font-size: $scale1;
  }
}

// Paragraphs

a {
  color: $dk-blue;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: lighten($dk-blue, 20%);
  }
}


// Lists

li {
  line-height: 1.4375; // 23px/16px
  margin-bottom: $scale-2;
}

ul {
  li {
    list-style: disc;
    margin-bottom: 0;

    ul {
      li {
        list-style: square;
      }
    }
  }
}

ol {
  li {
    list-style: decimal;
    margin-bottom: 0;

    ol {
      li {
        list-style: lower-alpha;
      }
    }
  }
}

dl {
  dt {
    margin-bottom: 0;
  }

  dd {
    margin-bottom: $scale-base;
  }
}
